<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>NodeImage</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Node Image</h1>
        <form action="/" method="get">
            <h3 class="title">The image has been uploaded</h3>
            <button type="submit" class="btn btn-return" href="/">Return</button>
        </form>
    </div>
    <script src="/public/website.js"></script>
</body>
</html>